﻿
@model WebApp.Areas.Admin.ViewModels.CarStatusVM

<div class="form-group">
    <label asp-for="CarStatusName" class="control-label"></label>
    <input asp-for="CarStatusName" class="form-control" />
    <span asp-validation-for="CarStatusName" class="text-danger"></span>
</div>