﻿@model WebApp.Areas.Admin.ViewModels.CarStatusVM

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.CarStatusName)
    </dt>
    <dd>
        @Html.Raw(Model.CarStatus.CarStatusName)
    </dd>
</dl>
