﻿@model WebApp.Areas.Admin.ViewModels.CarStatusVM

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CarStatus</h4>
    <hr />

    @Html.Partial("_DeleteDetails", Model)

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CarStatus.CarStatusId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
