﻿
@model WebApp.Areas.Admin.ViewModels.EventStatusVM

<div class="form-group">
    <label asp-for="EventStatusName" class="control-label"></label>
    <input asp-for="EventStatusName" class="form-control" />
    <span asp-validation-for="EventStatusName" class="text-danger"></span>
</div>
