﻿@model WebApp.Areas.Admin.ViewModels.EventStatusVM

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.EventStatusName)
    </dt>
    <dd>
        @Html.Raw(Model.EventStatus.EventStatusName)
    </dd>
</dl>