﻿@model IEnumerable<Domain.EventStatus>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventStatusName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.Raw(item.EventStatusName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventStatusId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventStatusId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventStatusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
