﻿@model Domain.Group

@{
    ViewData["Title"] = "Create";
}

<br />
<h4>Add new Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <a asp-area="User" asp-controller="MyCarShare" asp-action="Index">Go Home</a>
    </div>
    <div class="col-lg-3">
        <a asp-action="Groups">All Groups</a> 
    </div>
</div>

