﻿@model IEnumerable<Domain.Group>

@{
    ViewData["Title"] = "Groups";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>
