﻿@model IEnumerable<Domain.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<br />
<p>
    <a asp-action="Create">@Resources.WebApp.Views.Groups.CreateNew</a>
</p>
<br />
<h4>@Resources.WebApp.Views.Groups.SearchAddPeople</h4>
<br />
<div class="col-lg-4">
    <form asp-action="Index" method="get">
        <div class="form-group">
            <input name="search" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="AddToGroup" asp-route-id="@item.Id">@Resources.WebApp.Views.Groups.AddToGroup</a>

            </td>
        </tr>
}
    </tbody>
</table>
