﻿@model WebApp.Areas.Admin.ViewModels.UserTypeVM

<div class="form-group">
    <label asp-for="UserTypeName" class="control-label"></label>
    <input asp-for="UserTypeName" class="form-control" />
    <span asp-validation-for="UserTypeName" class="text-danger"></span>
</div>