﻿@model WebApp.Areas.Admin.ViewModels.UserTypeVM

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.UserType.UserTypeName)
    </dt>
    <dd>
        @Html.Raw(Model.UserType.UserTypeName)
    </dd>
</dl>