﻿@{
    ViewData["Title"] = "Home Page";
}

   
<div class="row">
    <div class="col-md-12">
        <br />
        <h2>Welcome to the admin area!</h2>
        <br />
        <p>We hope that you actually are the admin.</p>
        <p>If not, there is nothing interesting here, so you can leave.</p>
        <p>If you are the admin and need a break: <a href="http://www.fmylife.com/">FML</a></p>
    </div>
    
   
</div>
