﻿@model Domain.Car

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.CarBrand)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CarBrand)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.CarLicensePlate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CarLicensePlate)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.CarColour)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CarColour)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.CarYearOfIssue)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CarYearOfIssue)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.CarStatus)
    </dt>
    <dd>
        @Model.CarStatus.CarStatusName
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Owner)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Owner.FirstLastName)
    </dd>
</dl>