﻿@model WebApp.ViewModels.CarCreateEditVM

<div class="form-group">
    <label asp-for="Car.CarBrand" class="control-label"></label>
    <input asp-for="Car.CarBrand" class="form-control" />
    <span asp-validation-for="Car.CarBrand" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Car.CarLicensePlate" class="control-label"></label>
    <input asp-for="Car.CarLicensePlate" class="form-control" />
    <span asp-validation-for="Car.CarLicensePlate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Car.CarColour" class="control-label"></label>
    <input asp-for="Car.CarColour" class="form-control" />
    <span asp-validation-for="Car.CarColour" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Car.CarYearOfIssue" class="control-label"></label>
    <input asp-for="Car.CarYearOfIssue" class="form-control" />
    <span asp-validation-for="Car.CarYearOfIssue" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Car.CarStatus.CarStatusName" class="control-label"></label>
    <select asp-for="Car.CarStatusId" class="form-control" asp-items="Model.CarStatusesSelectList"></select>
</div>