﻿@model WebApp.ViewModels.CarCreateEditVM

@{
    ViewData["Title"] = "AddUser";
}


<br />

<br />
<h4>@Resources.WebApp.Views.Cars.SearchAddPeople</h4>
<br />
<div class="col-lg-4">
    <form asp-action="AddUser">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Car.CarId" />
        <input type="hidden" asp-for="Car.OwnerId" />


        <div class="form-group">
            <label asp-for="User.FirstLastName" class="control-label"></label>
            <select asp-for="User.Id" class="form-control" asp-items="Model.UsersSelectList"></select>
        </div>

        <div class="form-group">
            <input type="submit" value="@Resources.Shared.Save" class="btn btn-default" />
        </div>
    </form>
</div>

