﻿@model Domain.Car

@{
    ViewData["Title"] = "Delete";
}

<br />
<h4>@Resources.WebApp.Views.Cars.DeleteThisQ</h4>
<div>
    
    <hr />

    @Html.Partial("_DeleteDetails", Model)

    <form asp-action="Delete">
        <input type="hidden" asp-for="CarId" />
        <input type="submit" value="@Resources.Shared.Delete" class="btn btn-default" /> |
        <a asp-action="Index">@Resources.WebApp.Views.Cars.AllCars</a> |
        <a asp-area="User" asp-controller="MyCarShare" asp-action="Index">@Resources.Shared.GoHome</a>
    </form>
</div>
