﻿@model Domain.Car

@{
    ViewData["Title"] = "Details";
}

<br />
<div>
    <h4>@Resources.WebApp.Views.Cars.Detailsaboutcar</h4>
    <hr />

    @Html.Partial("_DeleteDetails", Model)

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CarId">@Resources.Shared.Edit</a> |
    <a asp-action="Index">@Resources.WebApp.Views.Cars.AllCars</a> |
    <a asp-area="User" asp-controller="MyCarShare" asp-action="Index">@Resources.Shared.GoHome</a>
</div>
