﻿@model WebApp.ViewModels.CarCreateEditVM

@{
    ViewData["Title"] = "Edit";
}

<br />
<h4>@Resources.WebApp.Views.Cars.Edityourcars</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Car.CarId" />
            <input type="hidden" asp-for="Car.OwnerId" />


            @Html.Partial("_CreateEdit", Model)

            <div class="form-group">
                <input type="submit" value="@Resources.Shared.Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <a asp-area="User" asp-controller="MyCarShare" asp-action="Index">@Resources.Shared.GoHome</a>
    </div>
    <div class="col-lg-3">
        <a asp-action="Index">@Resources.WebApp.Views.Cars.AllCars</a>
    </div>

</div>

