﻿@model IEnumerable<Domain.Car>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<p>
    <a asp-action="Create">@Resources.WebApp.Views.Cars.CreateNew</a> |
    <a asp-area="User" asp-controller="MyCarShare" asp-action="Index">@Resources.Shared.GoHome</a>
</p>
<br />
<h4>@Resources.WebApp.Views.Cars.Yourcars</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarLicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarColour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarYearOfIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarBrand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarLicensePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarColour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarYearOfIssue)
                </td>
                <td>
                    @item.CarStatus.CarStatusName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.FirstLastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CarId">@Resources.Shared.Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CarId">@Resources.Shared.Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CarId">@Resources.Shared.Delete</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
