﻿@model Domain.CarDetail

@{
    ViewData["Title"] = "Details";
}

<br />
<h4>@Resources.WebApp.Views.CarDetails.DetailAboutCar</h4>

<div>
    
    <hr />

    @Html.Partial("_DeleteDetails", Model)

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CarDetailId">@Resources.Shared.Edit</a> |
    <a asp-action="Index">@Resources.WebApp.Views.CarDetails.AllCarDetails</a>
</div>
