﻿@model IEnumerable<Domain.CarDetail>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<p>
    <a asp-action="Create">@Resources.Shared.Create</a> |
    <a asp-area="User" asp-controller="MyCarShare" asp-action="Index">@Resources.Shared.GoHome</a>
</p>
<br /> 
<h4>@Resources.WebApp.Views.CarDetails.DetailsYourCars</h4>
<hr />
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CarDetailName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarDetailDescription)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarDetailName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarDetailDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.CarBrand)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarDetailId">@Resources.Shared.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarDetailId">@Resources.Shared.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarDetailId">@Resources.Shared.Delete</a> 
            </td>
        </tr>
}
    </tbody>
</table>
