﻿
@{
    ViewData["Title"] = "Claims";
}

<h2>Claims</h2>

<table class="table table-striped">
    <tr>
        <th>Type</th>
        <th>Value</th>
        <th>Issuer</th>
        <th>OriginalIssuer</th>
        <th>ValueType</th>
    </tr>

    @foreach (var claim in User.Claims)
    {
        <tr>
            <td>@claim.Type</td>
            <td>@claim.Value</td>
            <td>@claim.Issuer</td>
            <td>@claim.OriginalIssuer</td>
            <td>@claim.ValueType</td>
        </tr>

    }
</table>