﻿@model WebApp.Areas.User.ViewModels.MyCarShareVM


@{
    ViewData["Title"] = "Index";
}

<br />
<br />

<div class="row">
    <div class="col-md-6">
        <a asp-area="User" asp-controller="Groups" asp-action="Index">@Resources.WebApp.Views.Main.SearchAddPeople</a>
        <h4>@Resources.WebApp.Views.Main.Mypeople</h4>
        <hr />



        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplictaionUser.FirstLastName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ApplictaionUser.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplictaionUser.Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Friends)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.FirstLastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                    </tr>

                }
                </tbody>
        </table>

        


    </div>

   

        <div class="col-md-6">
            <div class="row">
                <a asp-area="User" asp-controller="Cars" asp-action="Create">@Resources.WebApp.Views.Main.AddCar</a> |
                <a asp-area="User" asp-controller="CarDetails" asp-action="Create">@Resources.WebApp.Views.Main.AddDetail</a> |
                <a asp-area="User" asp-controller="ConditionOfUses" asp-action="Create">@Resources.WebApp.Views.Main.AddCondition</a> |
                <a asp-area="User" asp-controller="Expenses" asp-action="Create">@Resources.WebApp.Views.Main.AddExpense</a>

                <br />

                <h4>@Resources.WebApp.Views.Main.Mycars </h4>
            </div>

            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Car.CarBrand)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Car.Owner)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserCars)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.ColourBrandLicencePlate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Owner.FirstLastName)
                            </td>
                            <td>
                                <a asp-area="User" asp-controller="Cars" asp-action="Edit" asp-route-id="@item.CarId">@Resources.Shared.Edit</a>
                                <a asp-area="User" asp-controller="Cars" asp-action="Details" asp-route-id="@item.CarId">@Resources.Shared.Details</a>
                                <a asp-area="User" asp-controller="Cars" asp-action="Delete" asp-route-id="@item.CarId">@Resources.Shared.Delete</a>
                                <a asp-area="User" asp-controller="Cars" asp-action="AddUser" asp-route-id="@item.CarId">@Resources.WebApp.Views.Main.Adduser</a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>

<br />


<br />
<div class="row">
    <a asp-area="User" asp-controller="Usingevents" asp-action="Create">@Resources.WebApp.Views.Main.Addevent</a>
    <h4>@Resources.WebApp.Views.Main.Myevents</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Event.DrivingDestination)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Event.EventStartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Event.EventEndTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserEvents)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.DrivingDestination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventEndTime)
                </td>
                <td>
                    <a asp-area="User" asp-controller="UsingEvents" asp-action="Edit" asp-route-id="@item.UsingEventId">@Resources.Shared.Edit</a>
                    <a asp-area="User" asp-controller="UsingEvents" asp-action="Details" asp-route-id="@item.UsingEventId">@Resources.Shared.Details</a>
                    <a asp-area="User" asp-controller="UsingEvents" asp-action="Delete" asp-route-id="@item.UsingEventId">@Resources.Shared.Delete</a>

                </td>
            </tr>

            }


        </tbody>
    </table>
</div>