﻿@model WebApp.ViewModels.ApplicationUsersCreateEditVM

<div class="form-group">
    <label asp-for="ApplicationUser.FirstName" class="control-label"></label>
    <input asp-for="ApplicationUser.FirstName" class="form-control" />
    <span asp-validation-for="ApplicationUser.FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ApplicationUser.LastName" class="control-label"></label>
    <input asp-for="ApplicationUser.LastName" class="form-control" />
    <span asp-validation-for="ApplicationUser.LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ApplicationUser.DrivingLicenceNr" class="control-label"></label>
    <input asp-for="ApplicationUser.DrivingLicenceNr" class="form-control" />
    <span asp-validation-for="ApplicationUser.DrivingLicenceNr" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ApplicationUser.Address" class="control-label"></label>
    <input asp-for="ApplicationUser.Address" class="form-control" />
    <span asp-validation-for="ApplicationUser.Address" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ApplicationUser.UserName" class="control-label"></label>
    <input asp-for="ApplicationUser.UserName" class="form-control" />
    <span asp-validation-for="ApplicationUser.UserName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ApplicationUser.Email" class="control-label"></label>
    <input asp-for="ApplicationUser.Email" class="form-control" />
    <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
</div>

<div class="form-group">
    <div class="checkbox">
        <label>
            <input asp-for="ApplicationUser.EmailConfirmed" /> @Html.DisplayNameFor(model => model.ApplicationUser.EmailConfirmed)
        </label>
    </div>
</div>

<div class="form-group">
    <label asp-for="ApplicationUser.PhoneNumber" class="control-label"></label>
    <input asp-for="ApplicationUser.PhoneNumber" class="form-control" />
    <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
</div>


