﻿@model WebApp.ViewModels.ApplicationUsersCreateEditVM


    @{
        ViewData["Title"] = "Create";
    }

    <h2>Create</h2>

    <h4>ApplicationUser</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @Html.Partial("_CreateEdit", Model)

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

