﻿@using System.Threading

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarShare</title>


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                {
                    <a asp-area="User" asp-controller="MyCarShare" asp-action="Index" class="navbar-brand">@Resources.Shared.Home</a>
                }

               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">


                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li><a asp-area="Admin" asp-controller="AdminHome" asp-action="Index">Admin area</a></li>

                    }

                    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                    {

                        <li><a asp-area="User" asp-controller="UsingEvents" asp-action="Index">@Resources.Shared.MyEvents</a></li>


                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">@Resources.Shared.MyCars<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a asp-area="User" asp-controller="Cars" asp-action="Index">@Resources.Shared.Cars</a></li>
                                <li><a asp-area="User" asp-controller="CarDetails" asp-action="Index">@Resources.Shared.CarDetails</a></li>
                                <li><a asp-area="User" asp-controller="ConditionOfUses" asp-action="Index">@Resources.Shared.CarConditions</a></li>
                                <li><a asp-area="User" asp-controller="Expenses" asp-action="Index">@Resources.Shared.CarExpenses</a></li>
                            </ul>
                        </li>

                    }

                    
                </ul>
                
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-2"><p>&copy; 2018 - Car Share</p></div>

                <div class="col-md-10 text-right">@Html.Partial("_LanguageSelectionPartial")</div>
            </div>

        </footer>
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script src="~/lib/moment/moment-with-locales.min.js"></script>
    <script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
   
    <script>
        moment.locale('@Thread.CurrentThread.CurrentCulture');
        $('[type="datetime-local"]').each(function () {

            $(this).attr('type', 'text');
            $(this).attr('value', moment($(this).attr('value')).format('L') +
                ' ' + moment($(this).attr('value')).format('LT'));
            $(this).datetimepicker({
                locale: '@Thread.CurrentThread.CurrentCulture'
            });
        });
            
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
