﻿@model string
@{
    ViewData["Title"] = "Not Found - 404";
}

<div class="row">
    <div class="col-md-6">
        <br />
        <h3 class="text-danger">@ViewData["Title"]</h3>
        <br />
        <h4 class="text">An error occurred while processing your request:</h4>
        <h4 class="text">@Model</h4>
        <br />
        <br />
        <h3 class="text-danger">But here is a picture of a cat. To cheer you up.</h3>
    </div>
    <div class="col-md-6">
        <br />
        <img src="~/images/blants-34.jpg" alt="ASP.NET" class="img-responsive" />
    </div>
</div>

    
