﻿@model WebApp.ViewModels.UsingEventsCreateEditVM

<div class="form-group">
    <label asp-for="UsingEvent.EventDescription" class="control-label"></label>
    <input asp-for="UsingEvent.EventDescription" class="form-control" />
    <span asp-validation-for="UsingEvent.EventDescription" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="UsingEvent.EventStartTime" class="control-label"></label>
    <input asp-for="UsingEvent.EventStartTime" class="form-control" />
    <span asp-validation-for="UsingEvent.EventStartTime" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="UsingEvent.EventEndTime" class="control-label"></label>
    <input asp-for="UsingEvent.EventEndTime" class="form-control" />
    <span asp-validation-for="UsingEvent.EventEndTime" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="UsingEvent.DrivingDestination" class="control-label"></label>
    <input asp-for="UsingEvent.DrivingDestination" class="form-control" />
    <span asp-validation-for="UsingEvent.DrivingDestination" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="UsingEvent.CarId" class="control-label"></label>
    <select asp-for="UsingEvent.CarId" class="form-control" asp-items="Model.CarsSelectList"></select>
    <span asp-validation-for="UsingEvent.CarId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="UsingEvent.EventStatusId" class="control-label"></label>
    <select asp-for="UsingEvent.EventStatusId" class="form-control" asp-items="Model.EventStatusesSelectList"></select>
    <span asp-validation-for="UsingEvent.EventStatusId" class="text-danger"></span>
</div>

