﻿@model Domain.UsingEvent


    <dt>
        @Html.DisplayNameFor(model => model.EventDescription)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.EventDescription)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.EventStartTime)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.EventStartTime)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.EventEndTime)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.EventEndTime)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.DrivingDestination)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.DrivingDestination)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Car)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Car.ColourBrandLicencePlate)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.EventCreator)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.EventCreator.FirstLastName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.EventStatus)
    </dt>
    <dd>
        @Model.EventStatus.EventStatusName
    </dd>
