﻿@model Domain.UsingEvent

@{
    ViewData["Title"] = "Delete";
}

<br />
<h4>@Resources.WebApp.Views.UsingEvent.DeleteEventQ</h4>

<div>
    
    <hr />

    <dl class="dl-horizontal">

        @Html.Partial("_DeleteDetails", Model)

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="UsingEventId" />
        <input type="submit" value="@Resources.Shared.Delete" class="btn btn-default" /> |
        <a asp-action="Index">@Resources.WebApp.Views.UsingEvent.AllEvents</a> |
        <a asp-area="User" asp-controller="MyCarShare" asp-action="Index">@Resources.Shared.GoHome</a>
    </form>
</div>
