﻿@model Domain.UsingEvent

@{
    ViewData["Title"] = "Details";
}

<br />
<h4>@Resources.WebApp.Views.UsingEvent.DetailsOfYourEvent</h4>

<div>
    
    <hr />

    <dl class="dl-horizontal">

        @Html.Partial("_DeleteDetails", Model)

    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UsingEventId">@Resources.Shared.Edit</a> |
    <a asp-action="Index">@Resources.WebApp.Views.UsingEvent.AllEvents</a> |
    <a asp-area="User" asp-controller="MyCarShare" asp-action="Index">@Resources.Shared.GoHome</a>
</div>
