﻿@model IEnumerable<Domain.UsingEvent>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<p>
    <a asp-action="Create">@Resources.WebApp.Views.UsingEvent.CreateNew</a> |
    <a asp-area="User" asp-controller="MyCarShare" asp-action="Index">@Resources.Shared.GoHome</a>
</p>
<br />
<h4>@Resources.WebApp.Views.UsingEvent.YourEvents</h4>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrivingDestination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventCreator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrivingDestination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.ColourBrandLicencePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventCreator.FirstLastName)
                </td>
                <td>
                    @item.EventStatus.EventStatusName
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UsingEventId">@Resources.Shared.Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UsingEventId">@Resources.Shared.Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UsingEventId">@Resources.Shared.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
