﻿
@model WebApp.Areas.Admin.ViewModels.ExpenseStatusVM

<div class="form-group">
    <label asp-for="ExpenseStatusName" class="control-label"></label>
    <input asp-for="ExpenseStatusName" class="form-control" />
    <span asp-validation-for="ExpenseStatusName" class="text-danger"></span>
</div>