﻿@model WebApp.Areas.Admin.ViewModels.ExpenseStatusVM

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.ExpenseStatusName)
    </dt>
    <dd>
        @Html.Raw(Model.ExpenseStatus.ExpenseStatusName)
    </dd>
</dl>