﻿@model WebApp.Areas.Admin.ViewModels.ExpenseStatusVM

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExpenseStatus</h4>
    <hr />

    @Html.Partial("_DeleteDetails", Model)

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExpenseStatus.ExpenseStatusId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
