﻿@model Domain.Expense

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Expense</h4>
    <hr />

    @Html.Partial("_DeleteDetails", Model)

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExpenseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
