﻿@model IEnumerable<Domain.Expense>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseTotal)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FirstLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.CarBrand)
            </td>
            <td>
                @item.ExpenseStatus.ExpenseStatusName
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExpenseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExpenseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExpenseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
