﻿@model WebApp.Areas.Admin.ViewModels.CarDetailsCreateEditVM

<div class="form-group">
    <label asp-for="CarDetail.CarDetailName" class="control-label"></label>
    <input asp-for="CarDetail.CarDetailName" class="form-control" />
    <span asp-validation-for="CarDetail.CarDetailName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CarDetail.CarDetailDescription" class="control-label"></label>
    <input asp-for="CarDetail.CarDetailDescription" class="form-control" />
    <span asp-validation-for="CarDetail.CarDetailDescription" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CarDetail.CarId" class="control-label"></label>
    <select asp-for="CarDetail.CarId" class="form-control" asp-items="Model.CarsSelectList"></select>
    <span asp-validation-for="CarDetail.CarId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CarDetail.ApplicationUserId" class="control-label"></label>
    <select asp-for="CarDetail.ApplicationUserId" class="form-control" asp-items="Model.ApplicationUsersSelectList"></select>
    <span asp-validation-for="CarDetail.ApplicationUserId" class="text-danger"></span>
</div>