﻿@model Domain.CarDetail

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.CarDetailName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CarDetailName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.CarDetailDescription)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CarDetailDescription)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ApplicationUser)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ApplicationUser.FirstLastName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Car)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Car.ColourBrandLicencePlate)
    </dd>
</dl>