﻿@model IEnumerable<Domain.CarDetail>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CarDetailName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarDetailDescription)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarDetailName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarDetailDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FirstLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.ColourBrandLicencePlate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
