﻿@model Domain.ConditionOfUse

@{
    ViewData["Title"] = "Details";
}

<br />
<h4>@Resources.WebApp.Views.Condition.DetailsYourCondition</h4>

<div>
    
    <hr />

    @Html.Partial("_DeleteDetails", Model)

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ConditionOfUseId">@Resources.Shared.Edit</a> |
    <a asp-action="Index">@Resources.WebApp.Views.Condition.AllConditions</a> |
    <a asp-area="User" asp-controller="MyCarShare" asp-action="Index">@Resources.Shared.GoHome</a>
</div>
