﻿@model IEnumerable<Domain.ConditionOfUse>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<p>
    <a asp-action="Create">@Resources.Shared.Create</a> |
    <a asp-area="User" asp-controller="MyCarShare" asp-action="Index">@Resources.Shared.GoHome</a>
</p>
<br />
<h4>@Resources.WebApp.Views.Condition.YourConditions</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConditionOfUseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionOfUseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ConditionOfUseName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ConditionOfUseDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Car.CarBrand)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.ConditionOfUseId">@Resources.Shared.Edit</a> |
        <a asp-action="Details" asp-route-id="@item.ConditionOfUseId">@Resources.Shared.Details</a> |
        <a asp-action="Delete" asp-route-id="@item.ConditionOfUseId">@Resources.Shared.Delete</a>
    </td>
</tr>
}
    </tbody>
</table>
