﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<br />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>@Resources.WebApp.Views.Register.CreateAccount</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email">@Resources.Domain.ApplicationUser.Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">@Resources.WebApp.Views.Register.Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">@Resources.WebApp.Views.Register.ConfirmPassword</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName">@Resources.Domain.ApplicationUser.FirstName</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName">@Resources.Domain.ApplicationUser.LastName</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address">@Resources.Domain.ApplicationUser.Address</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrivingLicenceNr">@Resources.Domain.ApplicationUser.DrivingLicenceNr</label>
                <input asp-for="DrivingLicenceNr" class="form-control" />
                <span asp-validation-for="DrivingLicenceNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">@Resources.Domain.ApplicationUser.PhoneNumber</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>


            <button type="submit" class="btn btn-default">@Resources.Shared.Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
