﻿@model WebApp.ViewModels.ExpensesCreateEditVM

<div class="form-group">
    <label asp-for="Expense.ExpenseName" class="control-label"></label>
    <input asp-for="Expense.ExpenseName" class="form-control" />
    <span asp-validation-for="Expense.ExpenseName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Expense.ExpenseDescription" class="control-label"></label>
    <input asp-for="Expense.ExpenseDescription" class="form-control" />
    <span asp-validation-for="Expense.ExpenseDescription" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Expense.ExpenseTotal" class="control-label"></label>
    <input asp-for="Expense.ExpenseTotal" class="form-control" />
    <span asp-validation-for="Expense.ExpenseTotal" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Expense.CarId" class="control-label"></label>
    <select asp-for="Expense.CarId" class="form-control" asp-items="Model.CarsSelectList"></select>
</div>
<div class="form-group">
    <label asp-for="Expense.ExpenseStatusId" class="control-label"></label>
    <select asp-for="Expense.ExpenseStatusId" class="form-control" asp-items="Model.ExpenseStatusesSelectList"></select>
</div>