﻿@model Domain.Expense

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.ExpenseName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ExpenseName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ExpenseDescription)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ExpenseDescription)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ExpenseTotal)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ExpenseTotal)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Car)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Car.ColourBrandLicencePlate)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ExpenseStatus)
    </dt>
    <dd>
        @Model.ExpenseStatus.ExpenseStatusName
    </dd>
</dl>