﻿@model WebApp.ViewModels.ExpensesCreateEditVM

@{
    ViewData["Title"] = "Create";
}

<br />
<h4>@Resources.WebApp.Views.Expense.AddExpense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.Partial("_CreateEdit", Model)

            <div class="form-group">
                <input type="submit" value="@Resources.Shared.Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <a asp-area="User" asp-controller="MyCarShare" asp-action="Index">@Resources.Shared.GoHome</a>
    </div>
    <div class="col-lg-3">
        <a asp-action="Index">@Resources.WebApp.Views.Expense.AllExpenses</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
