﻿@model Domain.Expense

@{
    ViewData["Title"] = "Details";
}

<br />
<h4>@Resources.WebApp.Views.Expense.DetailsYourExpense</h4>

<div>
    
    <hr />

    @Html.Partial("_DeleteDetails", Model)

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExpenseId">@Resources.Shared.Edit</a> |
    <a asp-action="Index">@Resources.WebApp.Views.Expense.AllExpenses</a> |
    <a asp-area="User" asp-controller="MyCarShare" asp-action="Index">@Resources.Shared.GoHome</a>
</div>
