﻿@model IEnumerable<Domain.Expense>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<p>
    <a asp-action="Create">@Resources.WebApp.Views.Expense.AddNew</a> |
    <a asp-area="User" asp-controller="MyCarShare" asp-action="Index">@Resources.Shared.GoHome</a>
</p>
<br />
<h4>@Resources.WebApp.Views.Expense.TheExpensesYourCars</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.CarBrand)
                </td>
                <td>
                    @item.ExpenseStatus.ExpenseStatusName
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ExpenseId">@Resources.Shared.Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ExpenseId">@Resources.Shared.Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ExpenseId">@Resources.Shared.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
