﻿@model Domain.UsingEvent

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UsingEvent</h4>
    <hr />

    @Html.Partial("_DeleteDetails", Model)

    <form asp-action="Delete">
        <input type="hidden" asp-for="UsingEventId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
