﻿@model Domain.UsingEvent

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UsingEvent</h4>
    <hr />

    @Html.Partial("_DeleteDetails", Model)

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UsingEventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
