﻿@model IEnumerable<Domain.UsingEvent>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventStartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventEndTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DrivingDestination)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventCreator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrivingDestination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.CarBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventCreator.FirstLastName)
            </td>
            <td>
                @item.EventStatus.EventStatusName
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsingEventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UsingEventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UsingEventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
