﻿@model WebApp.Areas.Admin.ViewModels.ConditionOfUsesVM

<div class="form-group">
    <label asp-for="ConditionOfUse.ConditionOfUseName" class="control-label"></label>
    <input asp-for="ConditionOfUse.ConditionOfUseName" class="form-control" />
    <span asp-validation-for="ConditionOfUse.ConditionOfUseName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ConditionOfUse.ConditionOfUseDescription" class="control-label"></label>
    <input asp-for="ConditionOfUse.ConditionOfUseDescription" class="form-control" />
    <span asp-validation-for="ConditionOfUse.ConditionOfUseDescription" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ConditionOfUse.CarId" class="control-label"></label>
    <select asp-for="ConditionOfUse.CarId" class="form-control" asp-items="Model.CarSelectList"></select>
</div>
<div class="form-group">
    <label asp-for="ConditionOfUse.ApplicationUserId" class="control-label"></label>
    <select asp-for="ConditionOfUse.ApplicationUserId" class="form-control" asp-items="Model.ApplicationUserSelectList"></select>
</div>