﻿@model Domain.ConditionOfUse

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.ConditionOfUseName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ConditionOfUseName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ConditionOfUseDescription)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ConditionOfUseDescription)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ApplicationUser)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ApplicationUser.FirstLastName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Car)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Car.CarBrand)
    </dd>
</dl>