﻿@model IEnumerable<Domain.ConditionOfUse>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ConditionOfUseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConditionOfUseDescription)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConditionOfUseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConditionOfUseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FirstLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.CarBrand)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConditionOfUseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConditionOfUseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConditionOfUseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
